
.navbar-inverse{
    height: 46.4em;
}
.photo img{
    width: 150px;
    text-align: center;
    margin: 20% 0 1% 10%;
    border-radius: 50%;
}
.auth{
    margin: 1% 0 20% 0;
    text-align: center;
    color: #ccc;
    font-family: monospace;
    font-size: 15px;
}
.icones{
    margin: 0 0 25% 0;
    text-align: center;
}
.icones i{
    padding: 0 3% 0 3%;
    color: azure;
}
.icones i:hover{
    color: rgb(56, 54, 54);
}
.container{
    padding: 0;
    height: 1em;   
}
.blog > a{
    color: aqua;  
}
.proj > a{
    color: aqua;   
}
.about  > a{
    color: aqua;
}
.proj, .arq > a{
    color: aqua;
}

.cont > a{
    color: aqua;
}