<div class="home col-sm-12">


<nav class="navbar-inverse col-sm-2">
  <div class="photo">
    <img src="../assets/auth.jpg" alt="auth">
  </div>
  <div class="auth">
      <span>Rafael Carvalho</span>
  </div>
  <div class="icones">
      <i class="fa fa-linkedin fa-2x" aria-hidden="true"><a href="https://www.linkedin.com/in/rafaelcarvalhocaetano/"></a></i>
      <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
      <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
  </div>
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a routerLink="/home"><i class="fa fa-home" aria-hidden="true"> Home</i></a></li>
    <li class="blog" role="presentation"><a routerLink="/blog"><i class="fa fa-rss" aria-hidden="true"> Blog</i></a></li>
    <li class="arq" role="presentation"><a routerLink="/arquivos"><i class="fa fa-file-archive-o" aria-hidden="true"> Archives</i></a></li>
    <li class="proj" role="presentation"><a routerLink="/projetos"><i class="fa fa-code" aria-hidden="true"> Projects</i></a></li>
    <li class="about" role="presentation"><a routerLink="/sobre"><i class="fa fa-address-card-o" aria-hidden="true"> About</i></a></li>
    <li class="cont" role="presentation"><a routerLink="/contatos"><i class="fa fa-paper-plane" aria-hidden="true">  Contact</i></a></li>
  </ul>
  
</nav>
    <router-outlet></router-outlet>  
</div>